@use "variables";
.title {
  margin: 0;
  font-size: variables.$text-title;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  padding: 2rem;
}

.product-card {
  background: #f8f8f8;
  border-radius: 12px;
  padding: 16px;
  width: 220px; /* rộng hơn chút để vừa chữ dài */
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  // justify-content: space-between;
}

.product-img {
  width: 100%;
  height: 160px; /* Cố định chiều cao ảnh */
  object-fit: contain; /* hoặc cover */
  border-radius: 8px;
  margin-bottom: 12px;
  background: #fff; /* màu nền để ảnh nhỏ nhìn đẹp */
  padding: 4px; /* thêm khoảng trắng xung quanh */
}

.product-name {
  font-size: variables.$text-name-product;
  font-weight: 500;
  margin-bottom: 8px;
  min-height: 48px; /* đảm bảo tên sản phẩm đều hàng */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-rating {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  min-height: 24px; /* đảm bảo rating không đẩy lệch */
}

.product-price {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.price-original {
  text-decoration: line-through;
  color: #999;
  font-size: variables.$text-price;
}

.price-final-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.price-final {
  font-weight: bold;
  font-size: variables.$text-finalPrice;
  color: variables.$text-color-finalPrice;
}

.price-discount {
  background: #ffe6e6;
  color: #ff4d4f;
  font-size: variables.$text-discount;
  padding: 2px 6px;
  border-radius: 4px;
}
